:root {
    --header-height: 60px;
    --footer-height: 40px;
    --cor-verde-claro: #40a54d;
    --cor-verde-escuro: #00592d;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

header {
    align-items: center;
    background: var(--cor-verde-claro);
    color: white;
    display: flex;
    height: var(--header-height);
    padding: 4px;
    justify-content: space-between;
}

h1, h2, h3 {
    margin: 0;
}

.titulo {
    font-size: 20px;
}

main {
    align-items: center;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}

footer {
    align-items: center;
    background: var(--cor-verde-escuro);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    height: var(--footer-height);
}

.copyright {
    font-size: 10px;
    font-style: italic;
}

.botao__primario {
    background: var(--cor-verde-escuro);
    border: 2px solid var(--cor-verde-escuro);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    transition: box-shadow 300ms ease, background 300ms ease;
    will-change: box-shadow, background;

}

.botao__primario:hover {
    background: var(--cor-verde-claro);
    border-color: var(--cor-verde-claro);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
}

.fieldset__padrao {
    border-radius: 4px;
    border-color: var(--cor-verde-escuro);
}

.fieldset__padrao label {
    font-size: 12px;
    font-weight: bold;
}

.fieldset__padrao input, .fieldset__padrao textarea {
    border-color: var(--cor-verde-claro);
    border-radius: 8px;
}

.menu {
    padding-right: 8px;
}

.menu__item {
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background: var(--cor-verde-escuro);
    border-radius: 4px;
    transition: background 500ms, color 300ms;
    will-change: background, color;
}

.menu__item:hover {
    background: white;
    color: var(--cor-verde-claro);
    border-radius: 4px;
}

.carregando {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .carregando--ativo {
      display: flex;
  }
  .carregando__icone {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 5px solid var(--cor-verde-claro);
      border-left-color: transparent;
      animation: rotacao 1s infinite linear;
  }

  @keyframes rotacao {
      from {
          transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
    }
  }