:root {
    --header-height: 60px;
    --footer-height: 40px;
    --cor-verde-claro: #40a54d;
    --cor-verde-escuro: #00592d;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

header {
    align-items: center;
    background: var(--cor-verde-claro);
    color: white;
    display: flex;
    height: var(--header-height);
    padding: 4px;
}

h1, h2, h3 {
    margin: 0;
}

.titulo {
    font-size: 20px;
}

main {
    align-items: center;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}

footer {
    align-items: center;
    background: var(--cor-verde-escuro);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    height: var(--footer-height);
}

.copyright {
    font-size: 10px;
    font-style: italic;
}

.botao__primario {
    background: var(--cor-verde-escuro);
    border-color: var(--cor-verde-escuro);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.botao__primario:hover {
    background: var(--cor-verde-claro);
    border-color: var(--cor-verde-claro);
}

.fieldset__padrao {
    border-radius: 4px;
    border-color: var(--cor-verde-escuro);
}

.fieldset__padrao label {
    font-size: 12px;
    font-weight: bold;
}

.fieldset__padrao input, .fieldset__padrao textarea {
    border-color: var(--cor-verde-claro);
    border-radius: 8px;
}